* {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
}
body {
  height: 1500px;
  margin: 0;
}

.container {
  width: 75%;
  margin: auto;
  position: relative;
}

header {
  height: 100px;
}
header .top-header {
  margin: 0;
  background-color: #e6ecef;
}
header .top-header ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  height: 38px;
}
header .top-header ul li {
  list-style: none;
}
header .top-header ul li a {
  transform: translateY(-1px);
  text-decoration: none;
  color: #293031;
  font-size: 14px;
  font-family: "roboto", sans-serif;
  display: inline-block;
  font-weight: 400;
  margin-left: 44px;
  line-height: 38px;
}
header .top-header ul li a:hover {
  color: #118aef;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  height: 62px;
  align-items: center;
}
.bottom-header .logo {
  width: auto;
  height: 46.2px;
}
.bottom-header .logo img {
  margin-top: 5px;
  width: 150px;
  height: 46px;
}

.menu {
  width: 15%;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul li {
  line-height: 62px;
}
.menu ul li button {
  margin-left: 25.5px;
  width: 146px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #118aef;
  background-color: #118aef;
  display: flex;
  justify-content: space-between;
}
.menu ul li button img {
  margin-top: 7px;
  margin-left: 12.5px;
  width: 21px;
  height: 20.5px;
}
.menu ul li button a {
  margin-right: 16px;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background-color: #118aef;
  border-radius: 5px;
  color: white;
}
.menu ul :hover .mega-menu {
  display: flex;
}
.menu ul .mega-menu {
  background-color: rgb(241, 236, 236);
  width: 870px;
  height: 545px;
  position: absolute;
  margin-left: -29px;
  padding: 0;
  display: flex;
  display: none;
  justify-content: space-between;
  z-index: 500;
}
.menu ul .mega-menu .left-menu {
  border: 1px solid rgb(241, 234, 234);
  padding-left: 15px;
  background-color: white;
  width: 26%;
}
.menu ul .mega-menu .left-menu #style-3::-webkit-scrollbar {
  width: 4px;
}
.menu ul .mega-menu .left-menu #style-3::-webkit-scrollbar-thumb {
  background-color: rgb(188, 188, 188);
  border: 2px solid rgb(188, 188, 188);
  border-radius: 10px;
}
.menu ul .mega-menu .left-menu .top-left-menu-cat {
  height: 55px;
  text-align: left;
}
.menu ul .mega-menu .left-menu .top-left-menu-cat h1 {
  margin: 0;
  padding-left: 10px;
  font-size: 20px;
}
.menu ul .mega-menu .left-menu .bottom-left-menu-cat-btn {
  height: 490px;
  overflow-y: scroll;
}
.menu ul .mega-menu .left-menu .bottom-left-menu-cat-btn ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu ul .mega-menu .left-menu .bottom-left-menu-cat-btn ul li {
  text-align: left;
  line-height: 30px;
  padding-left: 10px;
}
.menu ul .mega-menu .left-menu .bottom-left-menu-cat-btn ul li a {
  background-color: white;
  text-decoration: none;
  padding: 0;
  color: black;
}
.menu ul .mega-menu .right-menu {
  background-color: rgb(244, 245, 246);
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 74%;
}
.menu ul .mega-menu .right-menu #style-5::-webkit-scrollbar {
  width: 5px;
}
.menu ul .mega-menu .right-menu #style-5::-webkit-scrollbar-thumb {
  background-color: rgb(188, 188, 188);
  border: 2px solid rgb(188, 188, 188);
  border-radius: 10px;
}
.menu ul .mega-menu .right-menu .menu-right-top {
  margin-left: 18px;
  width: 96.3%;
  height: 475px;
  background-color: rgb(244, 245, 246);
  overflow-y: scroll;
}
.menu ul .mega-menu .right-menu .menu-right-top .right-menu-top-gaps {
  margin-top: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.menu ul .mega-menu .right-menu .menu-right-top .right-menu-top-gaps .course-child {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 97%;
  height: 136px;
  background-color: white;
  border: 1px solid rgb(241, 234, 234);
  justify-content: space-between;
}
.menu ul .mega-menu .right-menu .menu-right-top .right-menu-top-gaps .course-child .title-course-child {
  width: 100%;
  background: purple;
  height: 43px;
}
.menu ul .mega-menu .right-menu .menu-right-top .right-menu-top-gaps .course-child .title-course-child img {
  width: 80%;
}
.menu ul .mega-menu .right-menu .menu-right-top .right-menu-top-gaps .course-child .description-course-child {
  width: 100%;
  background: rgb(246, 95, 7);
  height: 43px;
}
.menu ul .mega-menu .right-menu .menu-right-top .right-menu-top-gaps .course-child .date-sourse-child {
  width: 100%;
  background: rgb(0, 160, 29);
  height: 43px;
}
.menu ul .mega-menu .right-menu .menu-right-btn {
  background-color: rgb(228, 237, 239);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul .mega-menu .right-menu .menu-right-btn button {
  justify-content: center;
  padding: 7px;
  padding-left: 30px;
  padding-right: 30px;
}

.search {
  width: 53%;
  position: relative;
}
.search img {
  height: 19px;
  width: 22px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 33px;
  margin-right: -29px;
  color: #118aef;
  font-size: 10px;
}
.search input {
  margin-left: 18px;
  border-radius: 4px;
  width: 439px;
  height: 34px;
  border: 1px solid #118aef;
  text-indent: 61.5px;
  color: #118aef;
  margin-top: 2px;
}
.search input::-moz-placeholder {
  color: #118aef;
  font-size: 14px;
  font-weight: 400;
}
.search input::placeholder {
  color: #118aef;
  font-size: 14px;
  font-weight: 400;
}
.search input:focus {
  outline: none;
}

.login-section {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}
.login-section .login-btn {
  position: relative;
  top: 1px;
  height: 37.6px;
  width: 100px;
  line-height: 35px;
  border-radius: 4px;
  border: 1px solid #808890;
  text-align: center;
  font-size: 14px;
  color: #808890;
  font-weight: 500;
  cursor: pointer;
  background-color: white;
}

main .banner {
  width: 100%;
  height: 492px;
  background-image: url(/img/banner.avif);
  background-size: cover;
  background-position: center top;
  display: flex;
  position: relative;
}
main .banner .banner-content-container {
  width: 74%;
  margin: auto;
}
main .banner .banner-content-container .banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  position: relative;
}
main .banner .banner-content-container .banner-container .left-banner {
  width: 495px;
  height: 412.15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .banner .banner-content-container .banner-container .left-banner .banner-title h1 {
  width: 495px;
  height: 128px;
  margin: 0;
  padding: 0;
  font-size: 50px;
  font-family: "roboto";
  color: white;
  font-weight: 700;
  line-height: 1.27;
}
main .banner .banner-content-container .banner-container .left-banner .banner-list {
  margin-top: 16px;
  color: white;
}
main .banner .banner-content-container .banner-container .left-banner .banner-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main .banner .banner-content-container .banner-container .left-banner .banner-list ul li {
  font-size: 18px;
  font-family: "roboto", sans-serif;
  line-height: 30.05px;
  padding: 0 0 12px;
}
main .banner .banner-content-container .banner-container .left-banner .banner-list ul li span {
  font-weight: 300;
}
main .banner .banner-content-container .banner-container .left-banner .banner-link {
  position: relative;
  height: 142px;
}
main .banner .banner-content-container .banner-container .left-banner .banner-link .banner-button {
  position: absolute;
  display: block;
  font-size: 18px;
  font-family: "roboto", sans-serif;
  margin: 44px 0px 50px;
  width: 260px;
  height: 48px;
  text-decoration: none;
  color: white;
  background-color: #1179ef;
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  text-align: center;
  line-height: 48px;
  font-weight: 500;
}
main .banner .banner-content-container .banner-container .right-banner {
  width: 48%;
  height: 382px;
  position: absolute;
  right: 0;
  bottom: 0;
}
main .banner .banner-content-container .banner-container .right-banner .videoframe img {
  margin-right: -17px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 583px;
  height: 378px;
}
main .banner .banner-content-container .banner-container .right-banner .videoframe video {
  width: 523.5px;
  height: 398px;
  position: absolute;
  bottom: 1px;
  right: 12.5px;
}
main .career-partner {
  margin-top: 5px 0 0 0;
  width: 100%;
  max-height: 213.8px;
  padding: 35px 0 40px;
}
main .career-partner .career-partner-content {
  margin: 0 174.6px;
  padding: 0 0 0 15px;
  max-height: 138.8px;
}
main .career-partner .career-partner-content p {
  display: flex;
  justify-content: center;
  margin: 0 0 18px;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  color: #272c37;
  line-height: 24px;
}
main .career-partner .career-partner-content .image-scroll-partner {
  height: 118px;
  overflow-x: hidden;
  white-space: nowrap;
}
main .career-partner .career-partner-content .image-scroll-partner .image-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: scrollImages 150s linear infinite;
}
main .career-partner .career-partner-content .image-scroll-partner .image-wrapper img {
  margin: 0 24px 0 0;
  padding: 0 8px;
}
@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}/*# sourceMappingURL=style.css.map */